[Unit]
Description=Cosmovisor service file for {{ network }} on {% if 'Testnet' in group_names %}testnet{% else %}mainnet{% endif %} - chain-id: {{ chain_id }}

After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart={{ user_dir }}/go/bin/cosmovisor start --home {{ user_dir }}/{{ folder }} {{ launch_commands | default('') }} {{ '--trace --twasm.open-tracing' if tracing is defined and tracing }}
WorkingDirectory={{ user_dir }}/{{ folder }}
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576
ExecStartPre=-/usr/bin/rm -r {{ user_dir }}/{{ folder }}/wasm/wasm/cache {{ user_dir }}/{{ folder }}/data/wasm/wasm/cache
Environment="DAEMON_NAME={{ daemon }}"
Environment="DAEMON_HOME={{ user_dir }}/{{ folder }}"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="DAEMON_LOG_BUFFER_SIZE=512"
Environment="UNSAFE_SKIP_BACKUP=true"
{% if lib_sidecar is defined %}
Environment="LD_LIBRARY_PATH={{ user_dir }}/{{ folder }}/cosmovisor/current/bin/"
{% endif %}
LogNamespace=noisy

{% if memory_high_mb is defined %}
MemoryAccounting=true
MemoryHigh={{ memory_high_mb }}M
MemoryMax={{ memory_max_mb }}M
{% endif %}

{% if tracing is defined and tracing %}
Environment="no_tracing_ibcreceive_capture=true"
Environment="no_tracing_ibcreceive_log=true"
Environment="JAEGER_SAMPLER_TYPE=const"
Environment="JAEGER_SAMPLER_PARAM=1"
Environment="JAEGER_REPORTER_LOG_SPANS=true"
Environment="JAEGER_REPORTER_MAX_QUEUE_SIZE=100"
Environment="JAEGER_SERVICE_NAME={{ network }}-{% if 'Testnet' in group_names %}testnet{% else %}mainnet{% endif %}"
{% endif %}

[Install]
WantedBy=multi-user.target
