- name: Download genesis zip file
  ansible.builtin.get_url:
    url: "{{ genesis }}"
    dest: "/tmp/genesis.zip"
    mode: "0700"

- name: Unarchive genesis
  ansible.builtin.unarchive:
    src: "/tmp/genesis.zip"
    remote_src: true
    dest: "{{ user_dir }}/{{ folder }}/config"
    mode: "0644"
