---
# Prune containers
- name: Prune unused docker containers and images
  community.docker.docker_prune:
    containers: true
    images: true
    networks: true
    volumes: true
    builder_cache: true
  register: prune_output

- name: Review prune output
  ansible.builtin.debug:
    msg:
      - "Pruned Stats:"
      - "Image space reclaimed {{ prune_output.images_space_reclaimed | human_readable }}."
      - "Container space reclaimed {{ prune_output.containers_space_reclaimed | human_readable }}."
      - "Volume space reclaimed {{ prune_output.volumes_space_reclaimed | human_readable }}."
