{
   "data-root": "{{ user_dir }}/docker-compose/docker-data",
   "metrics-addr" : "0.0.0.0:9323",
   "live-restore": true,
   "log-driver": "json-file",
   "log-opts": {
      "max-size": "100m",
      "max-file": "10"
  }
}