[Unit]
Description=aptos-node
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart=/usr/local/bin/aptos-node --config {{ user_dir }}/{{ folder }}/{{ aptos_role }}.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
