[Unit]
Description=aptos-node
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart=/usr/local/bin/aptos-node --config {{ user_dir }}/{{ folder }}/{{ aptos_role }}.yaml
Restart=on-failure
RestartSec=5
# Systemd scheduling
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
IOSchedulingClass=best-effort
IOSchedulingPriority=0
# LogNamespace
LogNamespace=noisy
# Open files
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
