[Unit]
Description={{ network }} Tenderseed
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart={{ user_dir }}/go/bin/tenderseed -home {{ user_dir }}/tenderseed/{{ network }} -seeds {{ seeds }} -chain-id {{ chain_id }} start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
