---
# Kroma chain utilizing .env file from local
# Ports:
#  - geth: 28545 (rpc), 28546 (ws), 30303 (p2p - ), 30304 (p2p - ), 28301 (metrics)
#  - node: 29545 (rpc), 29003 (p2p public), 29001 (metrics)

- name: Update kroma repo
  ansible.builtin.git:
    repo: "https://github.com/kroma-network/kroma-up.git"
    dest: "{{ user_dir }}/docker-compose/kroma"
    version: main
    update: true
    force: true
    recursive: true

- name: Ensure kroma-data folder exists
  ansible.builtin.file:
    path: "{{ user_dir }}/docker-compose/kroma-data"
    state: directory
    mode: "0755"

- name: Check if kroma data is populated
  ansible.builtin.find:
    paths: "{{ user_dir }}/docker-compose/kroma-data"
    file_type: any
    hidden: false
  register: kroma_data

- name: Begin snapshot process
  when: kroma_data.matched == 0
  block:
    - name: Download snapshot
      ansible.builtin.shell:
        cmd: "aria2c -x6 -d {{ user_dir }} -o kroma-snapshot.tar.gz https://snapshot.kroma.network/latest/snapshot.tar.gz"
      environment:
        PATH: "{{ path }}"

    - name: Extract snapshot
      ansible.builtin.shell: "tar -zxf {{ user_dir }}/kroma-snapshot.tar.gz -C {{ user_dir }}/docker-compose/kroma-data/"
      environment:
        PATH: "{{ path }}"

- name: Open appropriate firewall ports for base
  become: true
  community.general.ufw:
    rule: allow
    proto: "{{ item.proto }}"
    port: "{{ item.port }}"
    comment: "{{ item.comment }}"
  loop:
    - port: 30304
      proto: any
      comment: p2p port for kroma-node

- name: Run kroma-geth container
  community.docker.docker_container:
    name: kroma-geth
    image: kromanetwork/geth:{{ kroma_geth_version }}
    restart_policy: unless-stopped
    state: started
    stop_timeout: 600
    network_mode: host
    entrypoint:
      - /bin/sh
      - /.kroma/entrypoint.sh
    volumes:
      - "{{ user_dir }}/docker-compose/kroma-data:/.kroma/db"
      - "{{ user_dir }}/docker-compose/kroma/keys/jwt-secret.txt:/.kroma/keys/jwt-secret.txt"
      - "{{ user_dir }}/docker-compose/kroma/config/mainnet/genesis.json:/.kroma/config/genesis.json"
      - "{{ user_dir }}/docker-compose/kroma/scripts/entrypoint.sh:/.kroma/entrypoint.sh"
    env:
      CHAIN_ID: 255
      BOOT_NODES: enode://acf4af39e9d9f3bbdb700315fde6e909efc714bd9a012b0f6943c4f9110008e3da2cb6c2ac9d3b6d98184a5ead57c4409be4ae7b19da1f554ceee7ba86c1fc2e@p2p-0.kroma.network:30304?discport=30303,enode://a3b6a7087b3399eefdb1ce5870aa0e58a60bfeccf3f7f7c02f5e142b1a544d19c171f7688d08db786d5e9b3ba734482bf8cf29dab7d46917b9da7f61656fde39@p2p-1.kroma.network:30304?discport=30303
      RPC_PORT: 28545
      WS_PORT: 28546
    command:
      # General
      - --networkid=255
      - --bootnodes=enode://acf4af39e9d9f3bbdb700315fde6e909efc714bd9a012b0f6943c4f9110008e3da2cb6c2ac9d3b6d98184a5ead57c4409be4ae7b19da1f554ceee7ba86c1fc2e@p2p-0.kroma.network:30304?discport=30303,enode://a3b6a7087b3399eefdb1ce5870aa0e58a60bfeccf3f7f7c02f5e142b1a544d19c171f7688d08db786d5e9b3ba734482bf8cf29dab7d46917b9da7f61656fde39@p2p-1.kroma.network:30304?discport=30303
      - --datadir=/.kroma/db
      # P2P
      - --port=30304
      # HTTP/RPC
      - --http
      - --http.addr=0.0.0.0
      - --http.port=28545
      - --http.vhosts=*
      # Websocket
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.port=28546
      - --ws.origins=*
      # Metrics
      - --metrics
      - --metrics.addr=0.0.0.0
      - --metrics.port=28301
      - --metrics.expensive

- name: Prune unused docker containers and images
  community.docker.docker_prune:
    containers: true
    images: true
    networks: true
    volumes: true
    builder_cache: true
  register: prune_output

- name: Review prune output
  ansible.builtin.debug:
    var: prune_output
