cosmos_node_configure_config_toml:
  nosection:
    moniker: '"{{ network }}"'
    proxy_app: '"tcp://127.0.0.1:{{ custom_port_prefix }}58"'
  rpc:
    laddr: '"tcp://0.0.0.0:{{ custom_port_prefix }}57"'
    cors_allowed_origins: "'[]'"
    cors_allowed_headers: "'[]'"
    max_open_connections: 10000
    max_body_bytes: 2000000
    max_header_bytes: 1048576
    pprof_laddr: '"localhost:{{ custom_port_prefix }}60"'
  p2p:
    laddr: '"tcp://0.0.0.0:{{ custom_port_prefix }}56"'
    max_num_inbound_peers: 27
    max_num_outbound_peers: 34
    flush_throttle_timeout: '"10ms"'
  instrumentation:
    prometheus: '"true"'
    prometheus_listen_addr: '"0.0.0.0:{{ custom_port_prefix }}61"'
    namespace: '"tendermint"'

cosmos_node_configure_app_toml:
  api:
    enable: "true"
    swagger: "false"
    address: '"tcp://0.0.0.0:{{ custom_port_prefix }}17"'
    max-open-connections: 10000
    rpc-max-body-bytes: 1000000
    enabled-unsafe-cors: "true"
  grpc:
    enable: "true"
    address: '"0.0.0.0:{{ custom_port_prefix }}90"'
    max-recv-msg-size: 16777216
  grpc-web:
    enable: "true"
    address: '"0.0.0.0:{{ custom_port_prefix }}91"'
  evm-rpc:
    enable: "true"
    address: '"0.0.0.0:{{ custom_port_prefix }}28"'
    ws-address: '"0.0.0.0:{{ custom_port_prefix }}29"'
  state-commit:
    sc-enable: "true"

cosmos_node_configure_config_toml_37:
  nosection:
    moniker: '"{{ network }}"'
    proxy-app: '"tcp://127.0.0.1:{{ custom_port_prefix }}58"'
  priv_validator:
    laddr: "tcp://{{ nebula_internal_ip_addr | default('0.0.0.0') }}:{{ custom_port_prefix }}59"
  rpc:
    laddr: '"tcp://0.0.0.0:{{ custom_port_prefix }}57"'
    cors-allowed-origins: "'[]'"
    cors-allowed-headers: "'[]'"
    max-open-connections: 10000
    max-body-bytes: 2000000
    max-header-bytes: 1048576
    pprof-laddr: '"localhost:{{ custom_port_prefix }}60"'
  p2p:
    laddr: '"tcp://0.0.0.0:{{ custom_port_prefix }}56"'
    max-connections: 51
    flush-throttle-timeout: '"10ms"'
  mempool:
    keep-invalid-txs-in-cache: "false"
    ttl-duration: '"15s"'
    ttl-num-blocks: '"30"'
  instrumentation:
    prometheus: '"true"'
    prometheus-listen-addr: '"0.0.0.0:{{ custom_port_prefix }}61"'
    namespace: '"tendermint"'

# Pruning
cosmos_node_configure_pruning_default:
  no_section:
    pruning: '"custom"'
    pruning-keep-recent: "{{ pruninginterval.stdout }}" # prime between 100 and 200
    pruning-interval: "19"
  state-sync:
    snapshot-interval: 0

cosmos_node_configure_pruning_custom_rpc:
  no_section:
    pruning: '"custom"'
    pruning-keep-recent: "40000"
    pruning-interval: "{{ pruninginterval.stdout }}" # prime between 100 and 200
  state-sync:
    snapshot-interval: "{{ custom_snapshot_interval | default('0', true) }}"
    snapshot-keep-recent: "{{ custom_snapshot_keep_recent | default('5', true) }}"

cosmos_node_configure_pruning_nothing:
  no_section:
    pruning: '"nothing"'
  state-sync:
    snapshot-interval: "{{ custom_snapshot_interval | default('0') }}"
    snapshot-keep-recent: "{{ custom_snapshot_keep_recent | default('5', true) }}"

cosmos_node_configure_state_store_enabled:
  state-store:
    ss-enable: "true"
    ss-keep-recent: 2000000

cosmos_node_configure_state_store_disabled:
  state-store:
    ss-enable: "false"
