version: '3.8'

services:
  geth: # this is Optimism's geth client
    build: .
    network_mode: host
    restart: unless-stopped
    volumes:
      - "{{ user_dir }}/docker-compose/base-data:/data"
      - /etc/localtime:/etc/localtime:ro
    command: [ "bash", "./geth-entrypoint" ]
    env_file:
      - .env.mainnet

  node:
    build: .
    depends_on:
      - geth
    network_mode: host
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
    command: [ "bash", "./op-node-entrypoint" ]
    env_file:
      - .env.mainnet