---
# Overwrite current daemon
- name: Copy upgraded binary to upgrade directory
  ansible.builtin.copy:
    src: "{{ user_dir }}/go/bin/{{ daemon }}"
    dest: "{{ user_dir }}/{{ folder }}/cosmovisor/current/bin/"
    remote_src: true
    mode: "0755"
  notify: "restart node"

- name: Check if libraries present
  ansible.builtin.find:
    path: "{{ user_dir }}/go/bin/{{ daemon }}_libs"
    patterns: "*.so"
  register: libraries

- name: Copy libraries
  when: libraries.matched != 0
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ user_dir }}/{{ folder }}/cosmovisor/current/bin/"
    mode: "0644"
    remote_src: true
  loop: "{{ libraries.files }}"
  notify: "restart node"

- name: Reset halt-height to 0
  ansible.builtin.lineinfile:
    path: "{{ user_dir }}/{{ folder }}/config/app.toml"
    regexp: "^halt-height ="
    line: "halt-height = 0"
    state: present

- name: Save version
  ansible.builtin.command: "{{ user_dir }}/{{ folder }}/cosmovisor/current/bin/{{ daemon }} version"
  register: version

- name: Confirm version
  ansible.builtin.debug:
    msg:
      - "New binary reported version {{ version.stdout }} should match requested: {{ node_version }}."
      - "Binary installed into {{ user_dir }}/{{ folder }}/cosmovisor/current/bin/"
