deb http://archive.ubuntu.com/ubuntu jammy restricted main multiverse universe
deb-src http://archive.ubuntu.com/ubuntu jammy restricted main multiverse universe

deb http://archive.ubuntu.com/ubuntu jammy-updates restricted main multiverse universe
deb-src http://archive.ubuntu.com/ubuntu jammy-updates restricted main multiverse universe

deb http://archive.ubuntu.com/ubuntu jammy-security restricted main multiverse universe
deb-src http://archive.ubuntu.com/ubuntu jammy-security restricted main multiverse universe

deb http://archive.ubuntu.com/ubuntu jammy-backports restricted main multiverse universe
deb-src http://archive.ubuntu.com/ubuntu jammy-backports restricted main multiverse universe
