pki:
  ca: /etc/nebula/ca.crt
  cert: /etc/nebula/{{ ansible_hostname }}.crt
  key: /etc/nebula/{{ ansible_hostname }}.key

static_host_map:
  "{{ nebula_lighthouse_internal_ip_addr }}": ["{{ nebula_lighthouse_public_hostname }}:{{ nebula_lighthouse_public_port }}"]

lighthouse:
  am_lighthouse: true
  interval: 60
  hosts:

listen:
  host: 0.0.0.0
  port: {{ nebula_lighthouse_public_port }}

punchy:
  punch: true
  respond: true

tun:
  dev: neb0
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300
  routes:

logging:
  level: info
  format: text

firewall:
  outbound_action: {{ nebula_firewall_block_action | default('drop') }}
  inbound_action: {{ nebula_firewall_block_action | default('drop') }}
  conntrack:
    tcp_timeout: 120h
    udp_timeout: 3m
    default_timeout: 10m
    max_connections: 100000

  outbound:
    - port: any
      proto: any
      host: any

  inbound:
    - port: any
      proto: icmp
      host: any

    - port: 22
      proto: tcp
      host: any

stats:
  type: prometheus
  listen: 0.0.0.0:9961
  path: /metrics
  namespace: nebula
  interval: 30s

sshd:
  enabled: true
  listen: 0.0.0.0:2222
  host_key: /etc/nebula/nebula_host_ed25519_key
  authorized_users:
    - user: "{{ ansible_user }}"
      keys:
        - "{{ ssh_pubkey1 }}"
        - "{{ ssh_pubkey2 }}"

