pki:
  ca: /etc/nebula/ca.crt
  cert: /etc/nebula/{{ inventory_hostname }}.crt
  key: /etc/nebula/{{ inventory_hostname }}.key

static_host_map:
{% for host in groups['nebula_lighthouse'] %}
  "{{ hostvars[host].nebula_lighthouse_internal_ip_addr }}": ["{{ hostvars[host].nebula_lighthouse_public_hostname }}:{{ hostvars[host].nebula_lighthouse_public_port }}"]
{% endfor %}

lighthouse:
  am_lighthouse: false
  interval: 60
  hosts:
{% for host in groups['nebula_lighthouse'] %}
    - "{{ hostvars[host].nebula_lighthouse_internal_ip_addr }}"
{% endfor %}

listen:
  host: 0.0.0.0
  port: 4242

punchy:
  punch: true
  respond: true

tun:
  dev: neb0
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300
  routes:

logging:
  level: info
  format: text

firewall:
  outbound_action: {{ nebula_firewall_block_action | default('drop') }}
  inbound_action: {{ nebula_firewall_block_action | default('drop') }}
  conntrack:
    tcp_timeout: 120h
    udp_timeout: 3m
    default_timeout: 10m
    max_connections: 100000

  outbound:
    - port: any
      proto: any
      host: any

{% if 'management' in group_names %}

  inbound:
    - port: 3100 # Loki metrics port
      proto: tcp
      host: any

    - port: any
      proto: icmp
      host: any

    - port: 10050-10051 # zabbix agent and server
      proto: tcp
      host: any

{% else %}

  inbound:
    - port: any
      proto: any
      host: any

{% endif %}
