---
chain_id: {{ chain_id }}
valoper_address: {{ valoper }}
public_fallback: true

alerts:
  stalled_enabled: yes
  stalled_minutes: {{ '30' if 'Testnet' in group_names else '15' }}

  consecutive_enabled: yes
  consecutive_missed: {{ '50' if 'Testnet' in group_names else '25' }}
  consecutive_priority: critical

  percentage_enabled: yes
  percentage_missed: {{ '20' if 'Testnet' in group_names else '10' }}
  percentage_priority: warning

  alert_if_inactive: yes
  alert_if_no_servers: yes

  pagerduty:
    enabled: true
    api_key: {% if 'Testnet' in group_names %}"{{ testnet_tenderduty_pagerduty_key }}"{% else %} "{{ tenderduty_pagerduty_key }}"{% endif %}

  slack:
    enabled: true

nodes:
  - url: http://{{ ansible_host }}:{{ custom_port_prefix }}57/
    alert_if_down: yes
