base:
  # Update this value to the location you want the node to store its database
  data_dir: "{{ user_dir }}/{{ folder }}/data"
  role: "full_node"
  waypoint:
      # Update this value to that which the blockchain publicly provides. Please regard the directions
      # below on how to safely manage your genesis_file_location with respect to the waypoint.
      from_file: "{{ user_dir }}/{{ folder }}/waypoint.txt"

execution:
  # Update this to the location to where the genesis.blob is stored, prefer fullpaths
  # Note, this must be paired with a waypoint. If you update your waypoint without a
  # corresponding genesis, the file location should be an empty path.
  genesis_file_location: "{{ user_dir }}/{{ folder }}/genesis.blob"

full_node_networks:
  - discovery_method: "onchain"
    # The network must have a listen address to specify protocols. This runs it locally to
    # prevent remote, incoming connections.
    listen_address: "/ip4/0.0.0.0/tcp/{{ p2p_port }}"
    network_id: "public"
    # Define the upstream peers to connect to
    seeds:
      {}

mempool:
  shared_mempool_max_concurrent_inbound_syncs: 16 # default 4
  max_broadcasts_per_peer: 4 # default 1
  default_failovers: 0 # default 3
  shared_mempool_batch_size: 200 # default 100
  shared_mempool_tick_interval_ms: 10 # default 50
  
api:
  enabled: true
  address: "0.0.0.0:8080"

state_sync:
  data_streaming_service:
    max_concurrent_requests: 10
  storage_service:
    max_transaction_output_chunk_size: 5000
  state_sync_driver:
    bootstrapping_mode: DownloadLatestStates
