base:
  role: "full_node"
  data_dir: "{{ user_dir }}/{{ folder }}/data"
  waypoint:
    from_file: "{{ user_dir }}/{{ folder }}/waypoint.txt"

execution:
  genesis_file_location: "{{ user_dir }}/{{ folder }}/genesis.blob"

full_node_networks:
  - network_id: "public"
    discovery_method: "onchain"
    listen_address: "/ip4/0.0.0.0/tcp/{{ p2p_port }}"
    seeds:
      {}

api:
  enabled: true
  address: "0.0.0.0:8080"

state_sync:
  data_streaming_service
    max_concurrent_requests: 10
  storage_service:
    max_transaction_output_chunk_size: 5000
  state_sync_driver:
    bootstrapping_mode: DownloadLatestStates
