- name: Install varnish
  become: true
  ansible.builtin.apt:
    name:
      - varnish
      - prometheus-varnish-exporter
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Copy varnish config
  become: true
  ansible.builtin.template:
    src: "varnish-default.vcl"
    dest: "/etc/varnish/default.vcl"
    owner: root
    group: root
    mode: "0644"
  notify: Restart varnish

- name: Test varnish config
  become: true
  ansible.builtin.command: /usr/sbin/varnishd -Cf /etc/varnish/default.vcl

- name: Create varnish systemd directory
  become: true
  ansible.builtin.file:
    path: "/etc/systemd/system/varnish.service.d"
    state: directory
    owner: root
    group: root
    mode: "0755"
  notify: Restart varnish

- name: Add configuration for varnish systemd
  become: true
  ansible.builtin.template:
    src: "varnish-customexec.conf"
    dest: "/etc/systemd/system/varnish.service.d/customexec.conf"
    owner: root
    group: root
    mode: "0644"
  notify: Restart varnish

- name: Add prometheus to varnish user group
  become: true
  ansible.builtin.user:
    user: prometheus
    groups: varnish
    append: true
  notify: Restart prometheus-varnish-exporter
