global
        maxconn 50000
        log stdout local0 notice

defaults
        mode http
        log global
        option httplog
        timeout connect 5s
        timeout client 30s
        timeout server 30s
        balance leastconn
        # websockets
        option http-server-close
        timeout tunnel 3h

frontend http-https-in
        bind :443 ssl crt /etc/ssl/origin.cosmos-apis.pem alpn h2,http/1.1

        # Whitelist requests
        acl white_list src -f /etc/haproxy/whitelist.txt
        tcp-request content accept if white_list
        tcp-request content reject

        use_backend %[req.hdr(host),map(/etc/haproxy/maps/host.map,cosmos-rpc-backend)]
#
#
# Ports: Cosmos: 149, Osmosis: 125, Celestia: 116
#
#
#  .d8888b .d88b.  .d8888b  88888b.d88b.   .d88b.  .d8888b
# d88P"   d88""88b 88K      888 "888 "88b d88""88b 88K
# 888     888  888 "Y8888b. 888  888  888 888  888 "Y8888b.
# Y88b.   Y88..88P      X88 888  888  888 Y88..88P      X88
#  "Y8888P "Y88P"   88888P' 888  888  888  "Y88P"   88888P'

backend cosmos-rpc-backend
        option httpchk
        http-check send meth GET uri /status hdr Content-Type application/json
        http-check expect string \"catching_up\":false
        server het-fal-2573250 100.100.1.184:14957 check
        server het-fal-2573251 100.100.1.185:14957 check

backend cosmos-grpc-backend
        server het-fal-2573250 100.100.1.184:14990 proto h2 track cosmos-rpc-backend/het-fal-2573250
        server het-fal-2573251 100.100.1.185:14990 proto h2 track cosmos-rpc-backend/het-fal-2573251

backend cosmos-rest-backend
        server het-fal-2573250 100.100.1.184:14917 track cosmos-rpc-backend/het-fal-2573250
        server het-fal-2573251 100.100.1.185:14917 track cosmos-rpc-backend/het-fal-2573251
#
#
#  .d88b.  .d8888b  88888b.d88b.   .d88b.  .d8888b  888 .d8888b
# d88""88b 88K      888 "888 "88b d88""88b 88K      888 88K
# 888  888 "Y8888b. 888  888  888 888  888 "Y8888b. 888 "Y8888b.
# Y88..88P      X88 888  888  888 Y88..88P      X88 888      X88
#  "Y88P"   88888P' 888  888  888  "Y88P"   88888P' 888  88888P'

backend osmosis-rpc-backend
        option httpchk
        http-check send meth GET uri /status hdr Content-Type application/json
        http-check expect string \"catching_up\":false
        server het-fal-2573250 100.100.1.184:12557 check
        server het-fal-2573251 100.100.1.185:12557 check

backend osmosis-grpc-backend
        server het-fal-2573250 100.100.1.184:12590 proto h2 track osmosis-rpc-backend/het-fal-2573250
        server het-fal-2573251 100.100.1.185:12590 proto h2 track osmosis-rpc-backend/het-fal-2573251

backend osmosis-rest-backend
        server het-fal-2573250 100.100.1.184:12517 track osmosis-rpc-backend/het-fal-2573250
        server het-fal-2573251 100.100.1.185:12517 track osmosis-rpc-backend/het-fal-2573251
#
#
#                  888                   888    d8b
#                  888                   888    Y8P
#                  888                   888
#  .d8888b .d88b.  888  .d88b.  .d8888b  888888 888  8888b.
# d88P"   d8P  Y8b 888 d8P  Y8b 88K      888    888     "88b
# 888     88888888 888 88888888 "Y8888b. 888    888 .d888888
# Y88b.   Y8b.     888 Y8b.          X88 Y88b.  888 888  888
#  "Y8888P "Y8888  888  "Y8888   88888P'  "Y888 888 "Y888888

backend celestia-rpc-backend
        option httpchk
        http-check send meth GET uri /status hdr Content-Type application/json
        http-check expect string \"catching_up\":false
        server het-fal-2573250 100.100.1.184:11657 check
        server het-fal-2573251 100.100.1.185:11657 check

backend celestia-grpc-backend
        server het-fal-2573250 100.100.1.184:11690 proto h2 track celestia-rpc-backend/het-fal-2573250
        server het-fal-2573251 100.100.1.185:11690 proto h2 track celestia-rpc-backend/het-fal-2573251

backend celestia-rest-backend
        server het-fal-2573250 100.100.1.184:11617 track celestia-rpc-backend/het-fal-2573250
        server het-fal-2573251 100.100.1.185:11617 track celestia-rpc-backend/het-fal-2573251
#
#
# Prometheus
frontend stats
        bind *:8404
        http-request use-service prometheus-exporter if { path /metrics }
        stats enable
        stats uri /stats
        stats refresh 10s
