# Ethereum versions and approach
network: ethereum
folder: "{{ user_dir }}/docker-compose/{{ network }}"
# No custom_port_prefix for Ethereum

# Execution
# https://github.com/ethereum/go-ethereum/releases
execution_container_name: geth
execution_container_version: v1.14.11
execution_snapshot_location: "{{ folder }}/geth/bor/chaindata"

# Consensus
# https://github.com/sigp/lighthouse/releases
consensus_container_name: lighthouse
consensus_container_version: v5.3.0
consensus_snapshot_location: "{{ folder }}/lighthouse/data"
