[Unit]
Description=cosmovisor
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart={{ user_dir }}/go/bin/cosmovisor start --home {{ user_dir}}/{{ folder }}
WorkingDirectory={{ user_dir }}/{{ folder }}
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576
ExecStartPre=-/usr/bin/rm -r {{ user_dir }}/{{ folder }}/wasm/wasm/cache {{ user_dir }}/{{ folder }}/data/wasm/wasm/cache
Environment="DAEMON_NAME={{ daemon }}"
Environment="DAEMON_HOME={{ user_dir }}/{{ folder }}"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="DAEMON_LOG_BUFFER_SIZE=512"
Environment="UNSAFE_SKIP_BACKUP=true"
{% if lib_sidecar is defined %}
Environment="LD_LIBRARY_PATH={{ user_dir }}/{{ folder }}/cosmovisor/current/bin/"
{% endif %}
LogNamespace=noisy
{% if process_priority is defined %}
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
IOSchedulingClass=best-effort
IOSchedulingPriority=0
{% endif %}

[Install]
WantedBy=multi-user.target
